extends layout.pug

block content
    h1 Book Details
        p #{books.title}
            a.button(href='/books/new') Create New Book
        table
            thead
                tr
                    th
                    th
                    th
                    th
            tbody
                each book in books 
                    tr
                        td
                        a(href='/books/#{book.title}')
                        td= book.author 
                        td= book.genre
                        td= book.year
